.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
  padding-left: 10px;
  text-transform: uppercase;
}

.first-button{
  margin: 10px;
  padding: 5px;
  padding-left: 50px;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: rgb(162, 244, 38);
}
.second-button{
  margin: 10px;
  padding: 5px;
  padding-left: 40px;
  border: 2px solid grey;
  border-radius: 5px;

}
.third-button{
  margin: 10px;
  padding: 5px;
  padding-left: 40px;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: rgb(162, 244, 38);

}